.container {
    width: min(94vw, 1320px);
    margin: 0 auto;
    padding: 0 0.75rem;
}

.btn {
    cursor: pointer;
    color: #fff;
    background-color: #06f;
    border: 1px solid #06f;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn.secondary {
    background-color: #fff;
    border-color: #fff;
    color: #06f;
} 

.navbar {
    padding: 0.8125rem 1.50rem;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
}

.navbar-brand {
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
}

.navbar-toggler {
    cursor: pointer;
}

.navbar-collapse {
    height: 0;
    display: none;
    flex: 1 0 100%;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
    flex-direction: column;
}

.navbar-collapse.show {
    display: flex;
  }

.nav-link {
    padding: 0.5rem;
    text-decoration: none;
}

.nav-link.right {
    margin-right: auto;
}

.hero-background {
    background-color: #fff;
    background: url(../assets/jpg/school-kids.jpg) center center no-repeat scroll;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.hero {
    padding: 3rem 0.75rem;
    display: flex;
    flex-direction: column;
}

.hero-brand-icon {
    margin: 0 auto 1.5rem auto;
}

.hero > h1 {
    font-size: min(calc(1.425rem + 2.1vw), 3rem);
    font-weight: 700;
    color: #fff;
}

.hero-lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: #fff;
}

.hero-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.featured {
    padding: 3rem 1.5rem;
}

.featured > h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.featured-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
    gap: 1.5rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.feature-icon-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #06f;
    border-radius: 0.75rem;
}

.featured-link {
    display: flex;
    align-items: center;
    gap: 0 0.125rem;
}

.carousel {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 0;
}

.carousel-container {
    display: flex;
}

.carousel-item {
    display: none;
    object-fit: cover;
    flex: 0 0 100%;
}

.carousel-item.active {
    display: block;
}

.prev-button {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto 0;
    width: 15%;
    cursor: pointer;
}

.next-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto 0;
    width: 15%;
    cursor: pointer;
}

footer {
    background-color: #eee !important;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0.75rem;
    gap: 1rem 1.5rem;
}

.footer-brand {
    display: block;
    line-height: 0;
    margin-bottom: 1rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.footer-item > a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
