@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../assets/fonts/roboto_300.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../assets/fonts/roboto_400.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../assets/fonts/roboto_500.woff2') format('woff2');
    font-weight: 500;
}