@media (min-width: 576px){
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .footer-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 992px){
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex;
        height: 100% !important;
        flex: 1 0 0;
        flex-direction: row;
    }
}
@media (min-width: 1200px){
}
@media (min-width: 1400px){
}

@media (max-width: 575.98px){
}
@media (max-width: 767.98px){
}
@media (max-width: 991.98px){
}
@media (max-width: 1199.98px){
}
@media (max-width: 1399.98px){
}