@media (min-width: 576px){
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .footer-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 992px){
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex;
        height: 100% !important;
        flex: 1 0 0;
        flex-direction: row;
        margin-left: 2rem;
    }
    .nav-link.right {
        margin-right: auto;
    }
    .featured-grid, .featured-no-carousel {
        grid-template-columns: repeat(3, 1fr);
    }
    .navbar .dropdown-menu {
        position: absolute;
    }

    .navbar-collapse.show {
        overflow: visible;
    }
    .split-grid {
        grid-template-columns: repeat(2, 1fr);
    }