/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset button */
button {
	background-color: transparent;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
	display: block;
}

/* type scale */
h1, h2, h3, h4, h5, h6, p, button {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 6rem;
	letter-spacing: -0.015625em;
	font-weight: 300;
}
h2 {
	font-size: 3.75rem;
	letter-spacing: -0.008333333333333333em;
	font-weight: 300;
}
h3 {
	font-size: 3rem;
	letter-spacing: 0em;
	font-weight: 400;
}
h4 {
	font-size: 2.125rem;
	letter-spacing: 0.007352941176470588em;
	font-weight: 400;
}
h5 {
	font-size: 1.5rem;
	letter-spacing: 0em;
	font-weight: 400;
}
h6 {
	font-size: 1.25rem;
	letter-spacing: 0.0075em;
	font-weight: 500;
}
p.body-1 {
	font-size: 1rem;
	letter-spacing: 0.03125em;
	font-weight: 400;
}
p.body-2 {
	font-size: 0.875rem;
	letter-spacing: 0.017857142857142856em;
	font-weight: 400;
}
p.sub-1 {
	font-size: 1rem;
	letter-spacing: 0.009375em;
	font-weight: 400;
}
p.sub-2 {
	font-size: 0.875rem;
	letter-spacing: 0.0071428571428571435em;
	font-weight: 500;
}
button {
	font-size: 0.875rem;
	letter-spacing: 0.08928571428571429em;
	text-transform: uppercase;
	font-weight: 500;
}
p.caption {
	font-size: 0.75rem;
	letter-spacing: 0.03333333333333333em;
	font-weight: 400;
}
p.overline {
	font-size: 0.625rem;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
}

/* colors */
/* .primary {
	background-color: #6200EE;
	color: #FFFFFF;
}
.primary-variant {
	background-color: #3700B3;
	color: #FFFFFF;
}
.secondary {
	background-color: #03DAC6;
	color: #000000;
}
.secondary-variant {
	background-color: #018786;
	color: #000000;
}
.background {
	background-color: #FFFFFF;
	color: #000000;
}
.surface {
	background-color: #FFFFFF;
	color: #000000;
}
.error {
	background-color: #B00020;
	color: #FFFFFF;
} */

/* grid */
.grid {
	display: grid;
	/* grid-template-columns is defined by media queries */
	grid-template-rows: 1fr;
	grid-auto-rows: 1fr;
}
.grid > * {
	max-width: 100% !important;
}

/* app bars top */
.app-bars-top {
	background-color: #6200EE;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	height: 3.5rem;
}
.app-bars-top > img {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(1);
}
.app-bars-top > h6 {
	margin-left: 2rem;
}

/* button */
button {
	transition: background-color 300ms;
}
.contained {
	background-color: #6200EE;
	color: #FFFFFF;
	border-radius: 0.25rem;
	min-width: 4rem;
	height: 2.25rem;
	padding: 0 1rem;
}
.contained:hover {
	background-color: #6f14ef;
}
.contained:active {
	background-color: #9452f3;
	transition: background-color 0ms;
}
.outlined {
	background-color: transparent;
	color: #6200EE;
	border-radius: 0.25rem;
	min-width: 4rem;
	height: 2.25rem;
	padding: 0 1rem;
	border: 1px solid #e0e0e0;
}
.outlined:hover {
	background-color: #f2ebfe;
}
.outlined:active {
	background-color: #e6d6fc;
	transition: background-color 0ms;
}
.text {
	background-color: transparent;
	color: #6200EE;
	border-radius: 0.25rem;
	min-width: 4rem;
	height: 2.25rem;
	padding: 0 0.5rem;
}
.text:hover {
	background-color: #f2ebfe;
}
.text:active {
	background-color: #e6d6fc;
	transition: background-color 0ms;
}

/* card */
.card {
	grid-column: span 4;
	display: flex;
	flex-direction: column;
	max-width: 21.5rem;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 0.25rem;
	overflow: hidden;
	box-sizing: border-box;
}
.card h6 {
	line-height: 2rem;
}
.card p {
	opacity: 0.6;
	line-height: 1.25rem;
}
.supporting-text {
	margin-top: 1.125rem;
}
.wrapper {
	padding: 1rem 1rem 0 1rem;
}
.action {
	max-height: 3.25rem;
	display: flex;
	padding: 0.5rem;
}
.action button {
	margin-right: 0.5rem;
}